@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap&subset=latin-ext');



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #3767AD;
  position: relative;
   
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

// GLASS
.glass {
  margin: 101px 48px 48px;
  position: relative;
}

.glass__counter {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 112px;
  line-height: 131px;
  text-align: center;
  position: absolute;
  left: 38.13%;
  right: 38.4%;
  top: 39.04%;
  bottom: 48.89%;
  display: flex;
  justify-content: center;
}

// BUTTONS
.add-glass {
  font-family: Roboto;
  width: 216px;
  height: 48px;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  
}
@mixin buttonShape {
  color: #F5E5E7;
  background: none;
  border: none;
  width: 184px;
  height: 23px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
}
.remove-glass {
  margin-bottom: 18px;
  @include buttonShape;
}
.reset {
  @include buttonShape;
}

@media (max-width: 375px) {
  
}